<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
 " http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.nancyse.controller.GenericServer.DataModel.FileBufferMapper">
	<insert id="save" parameterType="com.nancyse.controller.GenericServer.DataModel.FileBuffer">
		insert into filebuffer (bufferfile_name,bufferfile_dir,bufferfile_size,update_time,uploader_name) values(#{bufferfile_name},#{bufferfile_dir},#{bufferfile_size},#{update_time},#{uploader_name})
	</insert>
	
	<select id="countSpace" resultType="long">
		select sum(bufferfile_size) from filebuffer 
	</select>
	<select id="selectOne" parameterType="com.nancyse.controller.GenericServer.DataModel.FileBuffer" resultType="com.nancyse.controller.GenericServer.DataModel.FileBuffer">
		select * from filebuffer where bufferfile_name=#{bufferfile_name} and bufferfile_dir=#{bufferfile_dir} and uploader_name=#{uploader_name}
	</select>
	
	<update id="updateFile" parameterType="com.nancyse.controller.GenericServer.DataModel.FileBuffer">
		update filebuffer set bufferfile_size=#{bufferfile_size},update_time=#{update_time} where bufferfile_name=#{bufferfile_name} and bufferfile_dir=#{bufferfile_dir} and uploader_name=#{uploader_name}
	</update>
	
	<delete id="deleteFile" parameterType="com.nancyse.controller.GenericServer.DataModel.FileBuffer">
		delete from filebuffer where bufferfile_name=#{bufferfile_name} and bufferfile_dir=#{bufferfile_dir} and uploader_name=#{uploader_name}
	</delete>
</mapper>