<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN "
 " http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
 
 
 <mapper namespace="com.nancyse.controller.demo.testMybatis.UserMapper">
	<insert id="save" parameterType="com.nancyse.controller.demo.testMybatis.User" useGeneratedKeys="true">
		INSERT INTO TB_USER(name,sex,age) VALUES(#{name},#{sex},#{age})
	</insert> 
	<insert id="save2" parameterType="com.nancyse.controller.demo.testMybatis.User" useGeneratedKeys="true">
		INSERT INTO TB_USER(name,sex,age) VALUES(#{name},#{sex},#{age})
	</insert> 
	<update id="update" >
		update tb_user set age="20" where id=3
	</update>
	<delete id="del">
		delete from tb_user where id=2
	</delete>
	<select id="select">
		select * from tb_user
	</select>
 </mapper>

